@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Rubik+Glitch&family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Rubik+Glitch&family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Mystery+Quest&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Rubik+Glitch&family=Trade+Winds&display=swap');
@import "tailwindcss";


@theme {
  --font-roboto: "Roboto", sans-serif; 
  --font-pacifico: "Pacifico", cursive;
  --font-rubik-glitch: "Rubik Glitch", cursive;
  --font-trade-winds: "Trade Winds", cursive;
  --font-honk: "Honk", cursive;
  --font-newsreader: "Newsreader", serif;
  --font-mystery-quest: "Mystery Quest", cursive;
}
/* Add this to one of your global css/tailwind files */
.ripple {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.ripple::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255,255,255,0.4);
  animation: ripple 0.5s ease-out;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

@keyframes ripple {
  to {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}


.ripple-effect {
  position: absolute;
  border-radius: 50%;
  background: rgba(255,255,255,0.35);
  transform: scale(0);
  animation: ripple 0.6s linear;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}


@keyframes rainbow-spin {
  0% { color: #ff0000; }
  25% { color: #ffa500; }
  50% { color: #00ff00; }
  75% { color: #0000ff; }
  100% { color: #ff00ff; }
}

.rainbow-icon {
  animation: rainbow-spin 5s linear infinite;
}
